*{margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.titulo{background-color: red;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;}


#catalogo{background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-around;
}
.botonVaciar{color: white;
    background-color: red;}
.el{background-color: blueviolet;
    height: 100px;
    width: 100px;}
    
    .chango{
        height: 50px;
    }
    .carritoo{
        display: flex;
        justify-content: space-around;
        
    }